body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #666;
}
.container {
  width: 100%;
  display: flex;
  height: 360px;
  display: flex;
  justify-content: center;
}
.form {
  width: 40%;
  padding: 40px;
}
.form_name {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
input {
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #666;
  border-radius: 6px;
}
.birthday-gender {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.birthday {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.birthday .birthday-label {
  margin-bottom: 12px;
}
.birthday select {
  width: 100%;
  height: 30px;
}
.gender {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
}
.gender .radio-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gender .radio-wrapper .radio-item {
  display: flex;
  flex-direction: row;
  width: 60px;
  margin-top: 12px;
}
button {
  background-color: #3a6bf9;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
}
.list {
  width: 60%;
  padding: 40px;
}
.list {
  font-size: 16px;
}
.list h1 {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  margin-bottom: 12px;
}
.list_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.list_option h1 {
  margin: 0;
  margin-right: 14px;
}
.list_option-filter,
.list_option-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.list_option-filter select,
.list_option-sort select {
  height: 30px;
  width: 80px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid #888;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: start;
  background-color: rgb(221, 221, 221);
}
tr:nth-child(even) {
  background-color: rgb(221, 221, 221);
}
td,
th {
  padding: 6px;
}
td:first-child {
  font-weight: 600;
}
td:last-child {
  width: 32px;
}
.delete i {
  cursor: pointer;
  visibility: hidden;
}
tbody > tr:hover .delete i {
  visibility: visible;
}
